<h1>Registration</h1>

<fieldset>
  <h2>Account Information</h2>
  <form (submit)="onSubmit()">
      First Name: 
      <input type="text" 
      name="firstName" 
      [(ngModel)]="user.firstName" 
      #firstName="ngModel"
      minlength="2" 
      required><br>
      <span class="error" *ngIf="firstName.errors != null">- First name is required</span>
      <br>
      
      Last Name: 
      <input type="text" 
      name="lastName" 
      [(ngModel)]="user.lastName" 
      #lastName="ngModel" 
      minlength = "2"
      required><br>
      <span class="error" *ngIf="firstName.errors != null">- Last name is required</span>
      <br>
      
      Email: 
      <input type="email" 
      name="email" 
      [(ngModel)]="user.email" 
      #email="ngModel" 
      minlength = "4"
      pattern="^[a-z0-9!#$%'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$"
      required><br>
      <span class="error" *ngIf="email.errors != null">- Please enter a valid email</span>
      <br>
      
      Password: 
      <input type="password" 
      name="password" 
      [(ngModel)]="user.password" 
      #password="ngModel" 
      minlength = "8"
      pattern="^(.*[0-9].*[A-Z].*)|(.*[A-Z].*[0-9].*)$"
      required><br>
      <span class="error" *ngIf="password.errors != null">- Password requires 8 character, one capital, and one number</span>
      <br>
      
      Confirm Password: 
      <input type="password" 
      name="conPass" 
      [(ngModel)]="user.conPass" 
      #conpass="ngModel" 
      required><br>
      <span class="error" *ngIf="user.password != user.conPass">Passwords Do Not Match</span>
      <br>

      Street Address: 
      <input type="text" 
      name="street" 
      [(ngModel)]="user.street" 
      #street="ngModel" 
      required><br>
      <span class="error" *ngIf="street.errors != null">- Field is required</span>
      <br>
      
      Unit/Apt#: 
      <input type="text" 
      name="unit" 
      [(ngModel)]="user.unit" 
      #unit="ngModel">
      <br>
      
      City: 
      <input type="text"
      name="city"
      [(ngModel)]="user.city"
      #city="ngModel"
      required><br>
      <span class="error" *ngIf="city.errors != null">- City is required</span><br>

      State: 
      <select name="state" 
      [(ngModel)]="user.state" 
      #state="ngModel" 
      required>
          <option *ngFor="let state of states" value="{{state}}" name="state">{{state}}</option>
        </select>
      <br>
      <span class="error" *ngIf="state.errors != null">- State is required</span><br>


      <button type="submit" [disabled]="!myNgForm.valid || user.password != user.confirmPassword">Submit</button>
    </form>
  
</fieldset>
